<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        [v-cloak]{
            display: none;
        }
        .done{
            text-decoration: line-through;
        }
        ul {
            list-style: none;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="newItem">
        <button @click.prevent="addItem">追加</button>
        <input v-model="query">検索
        <ul v-cloak>
            <li v-for="(todo, index) in filteredList">
                <input type="checkbox" v-model="todo.isDone">
                <span :class="{done: todo.isDone}">{{ todo.item}}</span>
                <button @click="deleteItem(index)">削除</button>
            </li>
        </ul>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    newItem: '',
                    todos: [],
                    query:''
                }
            },
            methods:{
                addItem(){
                    if(!this.newItem) return
                    const todo = {
                        item:this.newItem,
                        isDone: false,
                    }
                    this.todos.push(todo)
                    this.newItem = ''
                },
                deleteItem(index){
                    this.todos.splice(index, 1)
                }
            },
            computed:{
                filteredList(){
                    let that = this
                    return this.todos.filter((todo) => {
                        return todo.item.indexOf(that.query)
                    })
                }
            }
        })
    </script>
</body>

</html>